<!DOCTYPE html>
<html>
	<head>
		<title>Upload Files</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<nav>
			<a href="/logout">Log Out</a>
		</nav>
		{% if datasets %}
		<h1>Datasets</h1>
		{% endif %}
		<div>
			{% for dataset in datasets %}
			<p class="dataset">
				<b class="dataset-title">{{ dataset }}</b>
				<a href="/download?dataset={{ dataset }}">Download</a>
				<a href="/reset?dataset={{ dataset }}" onclick="return confirm('Are you sure you want to reset this dataset?')">Reset</a>
				<a href="/delete?dataset={{ dataset }}" onclick="return confirm('Are you sure you want to delete this dataset?')">Delete</a>
			</p>
			{% endfor %}
		</div>
		<h1>Upload Dataset Zip File</h1>
		<form action="/upload" method="post" enctype="multipart/form-data">
			<input type="file" name="data" required>
			<input type="text" name="dataset" placeholder="Dataset Name" required>
			<input type="submit">
		</form>
		<h1>Qualtrics Setup</h1>
		<p>Copy the following code and paste it into the HTML view of a text/graphic question in your Qualtrics survey.</p>
		<code>&lt;video controls&gt;&lt;source id=&quot;video-source&quot; src=&quot;https://www.seardev.com/get_file?dataset=Test&amp;response=${e://Field/ResponseID}&amp;loop_number=${lm://CurrentLoopNumber}&quot; type=&quot;video/mp4&quot;&gt;&lt;/video&gt;</code>
	</body>
</html>
